body{
font-family:Arial;
margin:0;
background:#e9f2f7;
text-align:center;
}

header{
background:#2f4f75;
color:white;
padding:25px;
}

.container{
padding:30px;
max-width:500px;
margin:auto;
}

.boton{
display:block;
padding:18px;
margin:15px 0;
color:white;
text-decoration:none;
border-radius:12px;
font-size:18px;
font-weight:bold;
}

.verde{
background:#2e7d32;
}

.verde2{
background:#4caf50;
}

.azul{
background:#1976d2;
}

.naranja{
background:#f57c00;
}

.amarilloclaro{
background:#FFF273;
}

.card{
background:white;
padding:20px;
margin:15px;
border-radius:10px;
}

.volver{
display:block;
margin:20px;
text-decoration:none;
color:#2f4f75;
}

footer{
margin-top:40px;
padding:20px;
font-size:14px;
}
